{% extends 'seller/basic.html' %}
{% comment %} It Inherits base template skeleton {% endcomment %}
{% load myfilters %}
{% load static %}
{% block title %}
{% endblock title %}

{% block css %}
body{
    background-image: url({% static 'firstapp/images/animereel2.jpg' %});
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    }
.navbartitle {
    
    font-family: 'Birthstone', cursive;
    font-size:100px;
    color:white;
    text-align:center;
    }

        .errorlist{
        color:red;
        }
    }



{% endblock css %}

{% block body %}
<div class="container">
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <h2 class="navbartitle neonText">Sign Up Seller</h2>        
                <div class="form-group">
                    <form method="POST">{% csrf_token %}
                        {{ form.non_field_errors }}

                        <label for="id_gst" class="login-labels text-white">GST*</label>
                        {{form.gst.errors}}
                        <!-- | means adding template tag which is defined in filter file -->
                        {{form.gst|addclass:'form-control'|addplaceholder:'GST'}}

                        <label for="id_warehouse_location" class="login-labels text-white">warehouse_location*</label>
                        {{form.warehouse_location.errors}}
                        <!-- | means adding template tag which is defined in filter file -->
                        {{form.warehouse_location|addclass:'form-control'|addplaceholder:'warehouse_location'}}

                        <br>
                        <button type="submit" class='btn btn-primary'>SignUp</button>

                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock body %}