{% extends 'firstapp/basic.html' %}
{% comment %} It Inherits base template skeleton {% endcomment %}
{% load static %}
{% load myfilters %}
{% block title %}
ContactUs
{% endblock title %}

{% block css %}
body{
{% comment %} background-image: url({% static 'firstapp/images/animereel2.jpg' %});
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; {% endcomment %}
}
.navbartitle {
font-family: 'Birthstone', cursive;
font-size:150px;
color:white;
}

.errorlist{
color:red;
}

{% endblock css %}

{% block body %}
<div class="container mt-3">
    Password Change successfully
</div>


{% endblock body %}